<template id="tmpl-project-row">

  <tr class="project-row">
    <td class="project-date is-secondary"></td>
    <td class="project-status is-secondary"></td>
    <td class="install-number min-width is-secondary"><a></a></td>
    <th class="project-number"><a></a></th>
    <td class="project-description"></td>
    <td class="project-customer"><a></a></td>
  </tr>

</template>


<template id="tmpl-project-window">

  <div class="columns full-height">
    <div class="column sidebar">

      <div class="columns wrapper">
        <div class="column">

          <div class="control">
            <input class="input project-search" type="search" placeholder="Search .." />
          </div>

        </div>
        <div class="column entry-content">

          <table class="table projects-table is-hoverable is-fullwidth no-wrap has-sticky-header has-sticky-column">
            <thead>
              <tr>
                <th class="min-width is-sortable">Date</th>
                <th class="min-width is-sortable">Status</th>
                <th class="min-width is-sortable"><abbr title="Project Number">Project</abbr></th>
                <th>Description</th>
              </tr>
            </thead>

            <tbody>
              <!-- @see #tmpl-project-row -->
            </tbody>
          </table>

        </div>
      </div>

    </div>
    <div class="column entry-content project-content">

      <div class="columns wrapper">
        <div class="column">

          <div class="tabs">
            <ul>
              <li class="is-active"><a title="Project">&#9851;</a></li>
              <li><a title="Orders">&#9823;</a></li>
              <li><a title="Articles">&#9935;</a></li>
            </ul>
          </div>

        </div>

        <!-- templates yet to be designed -->
        <!-- <div class="column entry-content project-[tab]" /> -->
      </div>

    </div>
  </div>

</template>