<div class="columns wrapper">
  <div id="sidebar-categories" class="column">

    <div class="tabs">
      <ul>
        <li class="is-active"><a title="Projects">&#9851;</a></li>
        <li><a title="Orders">&#9823;</a></li>
        <li><a title="Articles">&#9935;</a></li>
      </ul>
    </div>

  </div>
  <div id="projects-browser" class="column wrapper-content">

    <div class="columns wrapper">
      <div class="column">

        <div class="control">
          <input id="project-search" class="input" type="search" placeholder="Search .." />
        </div>

      </div>
      <div class="column entry-content">

        <table id="table-projects" class="table is-hoverable is-fullwidth no-wrap has-sticky-header has-sticky-column">
          <thead class="ignore-click">
            <tr>
              <th class="min-width is-sortable is-secondary"><abbr title="Installation Number">Install</abbr></th>
              <th class="min-width is-sortable is-sticky-column"><abbr title="Project Number">Project</abbr></th>
              <th>Description</th>
              <th>Customer</th>
            </tr>
          </thead>

          <!-- tbody content should be dynamically generated from a database query result set -->
          <tbody>
            [% for (let i = 1; i < 999; i++) { %] <tr class="min-width [% if (i === 4) { %]is-selected[% } %]">
              <td class="min-width is-secondary"><a class="opens-main-tab" href="#" title="Description  •  Customer">[%= i.toString().padStart(7, 'A210000'); %]</a></td>
              <th><a class="opens-main-tab" href="#" title="Description  •  Customer">[%= i.toString().padStart(7, 'MB21000'); %]</a></th>
              <td>Description of this project</td>
              <td>Customer this project is for</td>
              </tr>
              [% } %]
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>