<div class="control is-sticky">
  <input class="input" id="project-search" type="search" placeholder="Search .." />
</div>
<table class="table is-hoverable is-fullwidth no-wrap has-sticky-footer has-sticky-column">
  <tfoot class="ignore-click">
    <tr>
      <th class="min-width is-sortable is-secondary"><abbr title="Installation Number">Install</abbr></th>
      <th class="min-width is-sortable is-sticky-column"><abbr title="Project Number">Project</abbr></th>
      <th>Description</th>
      <th>Customer</th>
    </tr>
  </tfoot>
  <tbody>
    [% for (let i = 1; i < 999; i++) { %] <tr class="min-width [% if (i === 4) { %]is-selected[% } %]">
      <td class="min-width is-secondary"><a class="opens-main-tab" href="#" title="Description  •  Customer">[%= i.toString().padStart(7, 'A210000'); %]</a></td>
      <th><a class="opens-main-tab" href="#" title="Description  •  Customer">[%= i.toString().padStart(7, 'MB21000'); %]</a></th>
      <td>Description of this project</td>
      <td>Customer this project is for</td>
      </tr>
      [% } %]
  </tbody>
</table>