<div class="columns wrapper">
  <div id="sidebar-categories" class="column">

    <div class="tabs">
      <ul>
        <!-- @see #tmpl-li-project-* -->
      </ul>
    </div>

  </div>
  <div id="projects-browser" class="column wrapper-content">

    <div class="columns wrapper">
      <div class="column">

        <div class="control">
          <input id="project-search" class="input" type="search" placeholder="Search .." />
        </div>

      </div>
      <div class="column entry-content">

        <table id="project-table" class="table project-table is-hoverable is-fullwidth no-wrap has-sticky-header has-sticky-column">
          <thead>
            <tr>
              <!-- @see #tmpl-th-project-* -->
            </tr>
          </thead>

          <tbody>
            <!-- @see #tmpl-td-project-* -->
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>