<div class="columns wrapper">
  <div id="project-tabs" class="column">

    <div class="tabs">
      <ul>
        <li class="is-active"><a title="">MB21004</a><a class="is-small">&#8505;</a><a class="is-small">&#10006;</a></li>
        <li><a title="">MB21005</a><a class="is-small">&#8505;</a><a class="is-small">&#10006;</a></li>
        <li><a title="">MB21006</a><a class="is-small">&#8505;</a><a class="is-small">&#10006;</a></li>
      </ul>
    </div>

  </div>
  <div id="project-window" class="column wrapper-content">
    <!-- @see #tmpl-project-window -->
  </div>
</div>

</div>
</div>