<template id="tmpl-tab-page-project">
  <div class="columns full-height">

    <div class="column sidebar">
      <div class="columns wrapper">

        <div class="column">

          <div class="control">
            <input class="input search-projects" type="search" placeholder="Search .." />
          </div>

        </div>
        <div class="column wrapper-content">
          <div class="entry-content">

            <table class="table table-projects is-hoverable is-fullwidth no-wrap has-sticky-header has-sticky-column">
              <thead>
                <tr>
                  <th class="th-project-date is-secondary min-width">Date</th>
                  <th class="th-project-status is-secondary min-width">Status</th>
                  <th class="th-project-number is-sticky-column min-width"><abbr title="Project number">Project</abbr></th>
                  <th class="th-project-description">Description</th>
                </tr>
              </thead>

              <tbody>
                <!-- @see #tmpl-td-project-* -->
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>

    <div class="column wrapper-content project-content">
      <!-- @see #tmpl-tabs-container -->
    </div>

  </div>
</template>


<template id="tmpl-tab-page-project-workhours">
  <div class="columns wrapper">

    <div class="column">

      <div class="control">
        <input class="input search-workhours" type="search" placeholder="Search .." />
      </div>

    </div>
    <div class="column wrapper-content">
      <div class="entry-content">

        <table class="table table-workhours is-hoverable is-fullwidth no-wrap has-sticky-header has-sticky-column">
          <thead>
            <tr>
              <th class="min-width">Resource</th>
              <th class="min-width">Code</th>
              <th class="min-width">Description</th>
              <th class="min-width has-text-right">Hours</th>
              <th class="min-width has-text-right">Date start</th>
              <th class="min-width has-text-right">Date end</th>
              <th class=""></th>
            </tr>
          </thead>

          <tbody></tbody>
        </table>

      </div>
    </div>

  </div>
</template>


<template id="tmpl-tab-page-project-docs">
  <div class="columns full-height">

    <div class="column sidebar">
      <div class="columns wrapper">

        <div class="column">

          <div class="control">
            <input class="input search-docs" type="search" placeholder="Search .." />
          </div>

        </div>
        <div class="column wrapper-content">
          <div class="entry-content">

            <table class="table table-docs is-hoverable is-fullwidth no-wrap has-sticky-header has-sticky-column">
              <thead>
                <tr>
                  <th class="is-file-icon"></th>
                  <th class="min-width">Title</th>
                  <th class="min-width has-text-right">Ver</th>
                  <th class="min-width has-text-right">Modified</th>
                  <th class=""></th>
                </tr>
              </thead>

              <tbody></tbody>
            </table>

          </div>
        </div>

      </div>
    </div>

    <div class="column wrapper-content project-docs-content">
      <!-- file preview !! -->
    </div>

  </div>
</template>