<template id="tmpl-tab-page-project">
  <div class="columns full-height">

    <div class="column sidebar">
      <div class="columns wrapper">

        <div class="column">

          <div class="control">
            <input class="input search-projects" type="search" placeholder="Search .." />
          </div>

        </div>
        <div class="column entry-content">

          <table class="table table-projects is-hoverable is-fullwidth no-wrap has-sticky-header has-sticky-column">
            <thead>
              <tr>
                <th class="th-project-date is-secondary min-width">Date</th>
                <th class="th-project-status is-secondary min-width">Status</th>
                <th class="th-project-number is-sticky-column min-width"><abbr title="Project number">#</abbr></th>
                <th class="th-project-description">Description</th>
              </tr>
            </thead>

            <tbody>
              <!-- @see #tmpl-td-project-* -->
            </tbody>
          </table>

        </div>

      </div>
    </div>

    <div class="column entry-content project-content">
      <!-- @see #tmpl-tabs-container -->
    </div>

  </div>
</template>