<template id="tmpl-tab-page-project">
  <div class="columns full-height">

    <div class="column sidebar">
      <div class="columns wrapper">

        <div class="column">

          <div class="control">
            <input class="input search-projects" type="search" placeholder="Search .." />
          </div>

        </div>
        <div class="column wrapper-content">
          <div class="entry-content">

            <table class="table-projects main-table is-hoverable is-fullwidth no-wrap has-sticky-header has-sticky-column">
              <thead>
                <tr>
                  <th class="th-project-date is-secondary is-narrow">Date</th>
                  <th class="th-project-status is-secondary is-narrow">Status</th>
                  <th class="th-project-number is-sticky-column is-narrow"><abbr title="Project number">Project</abbr></th>
                  <th class="th-project-description">Description</th>
                </tr>
              </thead>

              <tbody>
                <!-- #tmpl-td-project-* -->
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>

    <div class="column wrapper-content project-content">
      <!-- #tmpl-tabs-container -->
    </div>

  </div>
</template>


<template id="tmpl-tab-page-project-timesheets">
  <div class="columns wrapper">

    <div class="column">

      <div class="control">
        <input class="input search-timesheets" type="search" placeholder="Search .." />
      </div>

    </div>
    <div class="column wrapper-content">
      <div class="entry-content">

        <table class="table-timesheets is-hoverable is-fullwidth no-wrap has-sticky-header has-sticky-column">
          <thead>
            <tr>
              <th class="is-narrow">Resource</th>
              <th class="is-narrow">Code</th>
              <th class="">Description</th>
              <th class="is-narrow has-text-right">Hours</th>
              <th class="is-narrow has-text-right">Date start</th>
              <th class="is-narrow has-text-right">Date end</th>
            </tr>
          </thead>

          <tbody></tbody>
        </table>

      </div>
    </div>

  </div>
</template>


<template id="tmpl-tab-page-project-docs">
  <div class="columns full-height">

    <div class="column sidebar">
      <div class="columns wrapper">

        <div class="column">

          <div class="control">
            <input class="input search-docs" type="search" placeholder="Search .." />
          </div>

        </div>
        <div class="column wrapper-content">
          <div class="entry-content">

            <table class="table-docs is-hoverable is-fullwidth no-wrap has-sticky-header has-sticky-column">
              <thead>
                <tr>
                  <th class="is-file-icon"></th>
                  <th class="">Title</th>
                  <th class="is-narrow has-text-right">Ver</th>
                  <th class="is-narrow has-text-right">Modified</th>
                </tr>
              </thead>

              <tbody></tbody>
            </table>

          </div>
        </div>

      </div>
    </div>

    <div class="column wrapper-content project-docs-content">
      <!-- FilePreview -->
    </div>

  </div>
</template>


<template id="tmpl-tab-page-project-files">
  <div class="columns full-height">

    <div class="column sidebar full-width">
      <div class="columns wrapper">

        <div class="column">

          <div class="control">
            <input class="input search-files" type="search" placeholder="Search .." />
          </div>

        </div>
        <div class="column wrapper-content">
          <div class="entry-content">

            <table class="table-files is-hoverable is-fullwidth has-separated-tbodies no-wrap"></table>

          </div>
        </div>

      </div>
    </div>

    <div class="column wrapper-content project-files-content">
      <!-- FilePreview -->
    </div>

  </div>
</template>