.pre-wrap {
  white-space: pre-wrap;
}

.no-wrap {
  white-space: pre;
}

.is-number {
  @extend .is-family-monospace;
  @extend .has-text-right;
}

th,
td {
  &.is-number {
    padding-top: calc($control-padding-vertical + .125em);
    padding-bottom: calc($control-padding-vertical - .125em);
  }
}