div.progress-indicator {
  z-index: 1 !important;
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  // height: 45%;
  background-color: var(--link);
  opacity: .4;
}

tr.is-selected {
  div.progress-indicator {
    background-color: #fff;
    opacity: .4;
  }
}