/*
 * Own implementation of bulma/components/tabs to migrate hover/active styles from `a` to `li` to allow for multiple `a` per `li`.
 */

$tabs-link-padding-vertical: 0.5em !default;
$tabs-link-padding-horizontal: 1em !default;
$tabs-link-padding: $tabs-link-padding-vertical $tabs-link-padding-horizontal !default;

$tabs-border-bottom-color: var(--border) !default;
$tabs-border-bottom-style: solid !default;
$tabs-border-bottom-width: 1px !default;

$tabs-link-color: var(--text) !default;
$tabs-link-hover-border-bottom-color: var(--text-strong) !default;
$tabs-link-hover-color: var(--text-strong) !default;
$tabs-link-active-border-bottom-color: var(--link) !default;
$tabs-link-active-color: var(--link) !default;

.tabs {
  @extend %block;
  @extend %unselectable;
  @include overflow-touch;

  align-items: stretch;
  display: flex;
  font-size: $size-normal;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;

  li {
    display: flex;

    margin-bottom: -#{$tabs-border-bottom-width};
    border-bottom-color: $tabs-border-bottom-color;
    border-bottom-style: $tabs-border-bottom-style;
    border-bottom-width: $tabs-border-bottom-width;

    &:hover {
      border-bottom-color: $tabs-link-hover-border-bottom-color;

      a:first-of-type {
        color: $tabs-link-hover-color;
      }
    }

    &.is-active {
      border-bottom-color: $tabs-link-active-border-bottom-color;

      a:first-of-type {
        color: $tabs-link-active-color;
      }
    }

    a {
      color: $tabs-link-color;
      vertical-align: baseline;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: $tabs-link-padding;

      &:not(:first-of-type) {
        margin: $tabs-link-padding-vertical .25em;
        margin-left: -.15em;
        padding: 0 calc($tabs-link-padding-horizontal - .25em);

        color: var(--text);

        &:hover {
          color: var(--info-invert);
          background-color: var(--info);
        }

        &.close-btn:hover {
          color: var(--background);
          background-color: var(--red);
        }
      }
    }
  }

  ul {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;

    align-items: center;

    border-bottom-color: $tabs-border-bottom-color;
    border-bottom-style: $tabs-border-bottom-style;
    border-bottom-width: $tabs-border-bottom-width;

    &.is-left {
      padding-right: 0.75em;
    }

    &.is-center {
      flex: none;
      justify-content: center;
      padding-left: 0.75em;
      padding-right: 0.75em;
    }

    &.is-right {
      justify-content: flex-end;
      padding-left: 0.75em;
    }

    &.main-tabs {
      li {
        a:first-of-type {
          font-weight: $weight-semibold;

          &::before {
            display: inline-block;
            width: 1.25em;
            font-weight: $weight-normal !important;
          }
        }

        &.li-project-tab>a:first-child::before {
          content: '\2756';
        }

        &.li-customer-tab>a:first-child::before {
          content: '\26B2';
        }

        &.li-resource-tab>a:first-child::before {
          content: '\265F';
        }

        &.li-order-tab>a:first-child::before {
          content: '\00A4';
        }

        &.li-article-tab>a:first-child::before {
          content: '\26CF';
        }
      }
    }
  }

  // Alignment
  &.is-centered {
    ul {
      justify-content: center;
    }
  }

  &.is-right {
    ul {
      justify-content: flex-end;
    }
  }

  &.is-fullwidth,
  >ul.is-fullwidth {
    li {
      flex-grow: 1;
      flex-shrink: 0;

      >a:first-child {
        margin-right: auto;
      }
    }
  }

  // Sizes
  &.is-small {
    font-size: $size-small;
  }

  &.is-medium {
    font-size: $size-medium;
  }

  &.is-large {
    font-size: $size-large;
  }
}