/*
 * Own implementation of bulma/components/tabs to migrate hover/active styles from `a` to `li` to allow for multiple `a` per `li`.
 */

$tabs-border-bottom-color: var(--border) !default;
$tabs-border-bottom-style: solid !default;
$tabs-border-bottom-width: 1px !default;
$tabs-link-color: var(--text) !default;
$tabs-link-hover-border-bottom-color: var(--text-strong) !default;
$tabs-link-hover-color: var(--text-strong) !default;
$tabs-link-active-border-bottom-color: var(--link) !default;
$tabs-link-active-color: var(--link) !default;
$tabs-link-padding-vertical: 0.5em !default;
$tabs-link-padding-horizontal: 1em !default;
$tabs-link-padding: $tabs-link-padding-vertical $tabs-link-padding-horizontal !default;

$tabs-boxed-link-radius: $radius !default;
$tabs-boxed-link-hover-background-color: var(--background) !default;
$tabs-boxed-link-hover-border-bottom-color: var(--border) !default;

$tabs-boxed-link-active-background-color: var(--scheme-main) !default;
$tabs-boxed-link-active-border-color: var(--border) !default;
$tabs-boxed-link-active-border-bottom-color: transparent !default;

$tabs-toggle-link-border-color: var(--border) !default;
$tabs-toggle-link-border-style: solid !default;
$tabs-toggle-link-border-width: 1px !default;
$tabs-toggle-link-hover-background-color: var(--background) !default;
$tabs-toggle-link-hover-border-color: var(--border-hover) !default;
$tabs-toggle-link-radius: $radius !default;
$tabs-toggle-link-active-background-color: var(--link) !default;
$tabs-toggle-link-active-border-color: var(--link) !default;
$tabs-toggle-link-active-color: var(--link-invert) !default;

.tabs {
  @extend %block;
  @extend %unselectable;
  @include overflow-touch;

  align-items: stretch;
  display: flex;
  font-size: $size-normal;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;

  ul {
    align-items: center;
    border-bottom-color: $tabs-border-bottom-color;
    border-bottom-style: $tabs-border-bottom-style;
    border-bottom-width: $tabs-border-bottom-width;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;

    &.is-left {
      padding-right: 0.75em;
    }

    &.is-center {
      flex: none;
      justify-content: center;
      padding-left: 0.75em;
      padding-right: 0.75em;
    }

    &.is-right {
      justify-content: flex-end;
      padding-left: 0.75em;
    }

    &.main-tabs {
      li {
        a:first-child {
          font-weight: $weight-semibold;
        }
      }
    }
  }

  li {
    display: flex;

    margin-bottom: -#{$tabs-border-bottom-width};
    border-bottom-color: $tabs-border-bottom-color;
    border-bottom-style: $tabs-border-bottom-style;
    border-bottom-width: $tabs-border-bottom-width;

    &:hover {
      border-bottom-color: $tabs-link-hover-border-bottom-color;

      a:first-child {
        color: $tabs-link-hover-color;
      }
    }

    &.is-active {
      border-bottom-color: $tabs-link-active-border-bottom-color;

      a:first-child {
        color: $tabs-link-active-color;
      }
    }

    a {
      color: $tabs-link-color;
      vertical-align: baseline;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: $tabs-link-padding;

      &:not(:first-child) {
        margin: $tabs-link-padding-vertical .25em;
        margin-left: -.15em;
        padding: 0 calc($tabs-link-padding-horizontal - .25em);

        color: var(--text);

        &:hover {
          color: var(--cyan-invert);
          background-color: var(--cyan);
        }

        &.close-btn:hover {
          color: var(--background);
          background-color: var(--red);
        }
      }
    }

    &.li-file-preview {
      width: 100%;

      >a:first-child {
        margin-right: auto;
      }
    }
  }

  .icon {
    &:first-child {
      @include ltr-property('margin', 0.5em);
    }

    &:last-child {
      @include ltr-property('margin', 0.5em, false);
    }
  }

  // Alignment
  &.is-centered {
    ul {
      justify-content: center;
    }
  }

  &.is-right {
    ul {
      justify-content: flex-end;
    }
  }

  &.is-fullwidth {
    li {
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  // Sizes
  &.is-small {
    font-size: $size-small;
  }

  &.is-medium {
    font-size: $size-medium;
  }

  &.is-large {
    font-size: $size-large;
  }
}