.columns {
  @extend .is-mobile;

  margin: 0 !important;
  padding: 0 !important;

  &.full-height {
    height: 100%;
    max-height: 100%;
  }

  &.entry-wrapper {
    @extend .is-flex-direction-column;

    height: 100%;
    overflow: hidden;

    >.column {
      flex-grow: unset;
      flex-shrink: unset;

      &.entry-content {
        flex-grow: 1;
        overflow: hidden;

        &:hover {
          overflow: auto;
        }
      }
    }
  }

  .column.status-bar {
    border-top: 1px solid $border !important;
  }
}