.sidebar {
  flex: none;
  width: 320px;
  transition: width .25s ease;

  box-sizing: content-box;
  border-right: 1px solid $border !important;
}

body {
  &.browsing {

    #sidebar {
      width: 100%;
    }

    #sidebar .entry-content {
      overflow: scroll;
    }
  }

  &:not(.browsing) {

    #sidebar .is-secondary {
      @extend .is-hidden;
    }
  }
}