.sidebar {
  flex: none;
  width: 320px;
  transition: width .25s ease;

  box-sizing: content-box;
  border-right: 1px solid $border !important;
}

@media screen and (max-width: 960px) {
  #sidebar {
    width: 0;
  }
}

body {
  &.browsing {

    #sidebar {
      width: 100%;
    }
  }

  &:not(.browsing) {

    #sidebar .is-secondary {
      @extend .is-hidden;
    }
  }
}

// #sidebar
#table-projects {

  tbody.deepsearch {
    @extend .is-italic;
  }

  tr {

    th,
    td {
      &.project-number>a::before {
        display: inline-block;
        width: 1em;
        content: '\00a0';
        transform: scale(.7);
      }
    }

    &.has-install {

      th,
      td {
        &.project-number>a::before {
          content: '\21AA';
        }
      }
    }
  }
}