@import '../extensions/sticky-table';

table {

  th {
    font-weight: $weight-semibold;
  }

  thead,
  tfoot {

    th,
    td {
      @extend .is-unselectable;

      &.is-sortable {
        cursor: pointer;

        &::after {
          display: contents;
          visibility: hidden;
          float: right;
          content: ' \25B4';
        }

        &.is-sorted-desc::after {
          content: ' \25BE';
        }

        &:hover::after,
        &.is-sorted-asc::after,
        &.is-sorted-desc::after {
          visibility: visible;
        }
      }
    }
  }

  &.is-hoverable,
  &.is-striped {

    th,
    td {
      border: none;

      >span.indent {
        border-left: 1px solid $grey-lightest;
        padding: calc($control-padding-vertical * 2) calc($control-padding-horizontal / 2) $control-padding-vertical;
      }
    }
  }

  tr:not(:hover) .hover-actions {
    opacity: 0;
  }
}