// $body-overflow-x: hidden;
// $body-overflow-y: hidden;

html {
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*,
*::after,
*::before {
  @extend .is-shadowless;
}

::selection,
::-webkit-selection {
  color: var(--secondary-invert) !important;
  background-color: var(--secondary) !important;
}

::placeholder {
  opacity: .6;
}

input {
  @extend .is-radiusless;

  // Remove borders except bottom.
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

p {
  padding: $control-padding;
}

div {
  @extend .m-0;
  @extend .p-0;
}

main,
.main {
  @extend div;
  overflow: hidden;
}

iframe {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
}