.sidebar {
  flex-grow: 0;
  flex-shrink: 0;

  flex-basis: 320px;
  transition: flex-basis .25s ease;

  border-right: 1px solid var(--border) !important;

  &.full-width {
    flex-basis: 100% !important;
  }
}

@media screen and (max-width: 960px) {
  #sidebar {
    flex-basis: 0;
  }
}

body {
  &.browsing {

    #sidebar {
      flex-basis: 100%;
    }
  }

  &:not(.browsing) {

    #sidebar .is-secondary {
      @extend .is-hidden;
    }
  }
}

// #sidebar
#table-projects {

  tbody.deepsearch {
    @extend .is-italic;
  }

  tr {

    th,
    td {
      &.project-number>a::before {
        display: inline-block;
        width: 1em;
        content: '\00a0';
        transform: scale(.7);
      }
    }

    &.has-install {

      th,
      td {
        &.project-number>a::before {
          content: '\21AA';
        }
      }
    }
  }
}