table {

  th {
    font-weight: $weight-semibold;
  }

  thead,
  tfoot {

    th,
    td {
      @extend .is-unselectable;

      &.is-sortable {
        cursor: pointer;

        &::after {
          display: contents;
          visibility: hidden;
          float: right;
          content: ' \25B4';
        }

        &.is-sorted-desc::after {
          content: ' \25BE';
        }

        &:hover::after,
        &.is-sorted-asc::after,
        &.is-sorted-desc::after {
          visibility: visible;
        }
      }
    }
  }

  &,
  &.is-hoverable,
  &.is-striped {

    th,
    td {
      border: none;

      >* {
        z-index: 2;
      }

      >span.indent {
        border-left: 1px solid var(--grey);
        padding: calc($control-padding-vertical * 2) calc($control-padding-horizontal / 2) $control-padding-vertical;
      }
    }
  }

  tr:not(:hover) .hover-actions {
    opacity: 0;
  }

  th,
  td {
    &.is-file-icon {
      @extend .min-width;
      width: 16px;

      padding-right: 0;

      padding-top: calc($control-padding-vertical + .15em);
      padding-bottom: calc($control-padding-vertical - .15em);
    }

    >img {
      max-width: unset;
    }
  }

  tr.is-folder-row {

    th,
    td {

      &,
      & * {
        color: var(--text-light) !important;
      }
    }
  }
}