// $tabs-link-padding: 0.5em 1em !default;

.tabs {
  li {
    a {
      display: inline-block;
      border: none !important;
      margin-bottom: 0;
      vertical-align: middle;

      &:nth-child(2) {
        margin-left: -.4em;
      }

      &:not(:first-child) {
        color: var(--text) !important;

        &.close-btn:hover {
          background-color: var(--orange);
        }
      }

      &.is-small {
        font-size: $size-small;
      }

      &.is-medium {
        font-size: $size-medium;
      }

      &.is-large {
        font-size: $size-large;
      }
    }

    // align-items: center;
    border-bottom-color: $tabs-border-bottom-color;
    border-bottom-style: $tabs-border-bottom-style;
    border-bottom-width: $tabs-border-bottom-width;
    // color: $tabs-link-color;
    // display: flex;
    // justify-content: center;
    margin-bottom: -#{$tabs-border-bottom-width};
    // padding: $tabs-link-padding;
    // vertical-align: top;

    &:hover {
      border-bottom-color: $tabs-link-hover-border-bottom-color;
    }

    &.is-active {
      border-bottom-color: $tabs-link-active-border-bottom-color;
    }
  }

  &.is-boxed {
    li {
      border: 1px solid transparent;

      @include ltr {
        border-radius: $tabs-boxed-link-radius $tabs-boxed-link-radius 0 0;
      }

      @include rtl {
        border-radius: 0 0 $tabs-boxed-link-radius $tabs-boxed-link-radius;
      }

      &:hover {
        background-color: $tabs-boxed-link-hover-background-color;
        border-bottom-color: $tabs-boxed-link-hover-border-bottom-color;
      }

      &.is-active {
        background-color: $tabs-boxed-link-active-background-color;
        border-color: $tabs-boxed-link-active-border-color;
        border-bottom-color: $tabs-boxed-link-active-border-bottom-color !important;
      }
    }
  }

  &.is-toggle {
    li {
      border-color: $tabs-toggle-link-border-color;
      border-style: $tabs-toggle-link-border-style;
      border-width: $tabs-toggle-link-border-width;
      // margin-bottom: 0;
      // position: relative;

      &:hover {
        background-color: $tabs-toggle-link-hover-background-color;
        border-color: $tabs-toggle-link-hover-border-color;
        z-index: 2;
      }
    }

    li {
      &:first-child {
        @include ltr {
          border-top-left-radius: $tabs-toggle-link-radius;
          border-bottom-left-radius: $tabs-toggle-link-radius;
        }

        @include rtl {
          border-top-right-radius: $tabs-toggle-link-radius;
          border-bottom-right-radius: $tabs-toggle-link-radius;
        }
      }

      &:last-child {
        @include ltr {
          border-top-right-radius: $tabs-toggle-link-radius;
          border-bottom-right-radius: $tabs-toggle-link-radius;
        }

        @include rtl {
          border-top-left-radius: $tabs-toggle-link-radius;
          border-bottom-left-radius: $tabs-toggle-link-radius;
        }
      }

      &.is-active {
        background-color: $tabs-toggle-link-active-background-color;
        border-color: $tabs-toggle-link-active-border-color;
        color: $tabs-toggle-link-active-color;
        z-index: 1;
      }
    }

    &.is-toggle-rounded {
      li {
        &:first-child {
          @include ltr {
            border-bottom-left-radius: $radius-rounded;
            border-top-left-radius: $radius-rounded;
          }

          @include rtl {
            border-bottom-right-radius: $radius-rounded;
            border-top-right-radius: $radius-rounded;
          }
        }

        &:last-child {
          @include ltr {
            border-bottom-right-radius: $radius-rounded;
            border-top-right-radius: $radius-rounded;
          }

          @include rtl {
            border-bottom-left-radius: $radius-rounded;
            border-top-left-radius: $radius-rounded;
          }
        }
      }
    }
  }
}