.pre-wrap {
  white-space: pre-wrap;
}

.no-wrap {
  white-space: pre;
}

table.no-wrap {

  th.min-width,
  td.min-width {
    width: 0;
  }
}

.is-sticky {
  z-index: 9;
  position: sticky;
  top: 0;
}