// Colors

$black:         hsl(0, 0%, 4%);
$black-bis:     hsl(0, 0%, 7%);
$black-ter:     hsl(0, 0%, 14%);
 
$grey-darker:   hsl(0, 0%, 21%);
$grey-dark:     hsl(0, 0%, 29%);
$grey:          hsl(0, 0%, 48%);
$grey-light:    hsl(0, 0%, 71%);
$grey-lighter:  hsl(0, 0%, 86%);
$grey-lightest: hsl(0, 0%, 93%);

$white-ter:     hsl(0, 0%, 96%);
$white-bis:     hsl(0, 0%, 98%);
$white:         hsl(0, 0%, 100%);

$orange:        hsl(14,  100%, 53%);
$yellow:        hsl(44,  100%, 77%);
$green:         hsl(153, 53%,  53%);
$turquoise:     hsl(171, 100%, 41%);
$cyan:          hsl(207, 61%,  53%);
$blue:          hsl(229, 53%,  53%);
$purple:        hsl(271, 100%, 71%);
$red:           hsl(348, 86%, 61%);

// Typography

$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace:  monospace;
$render-mode:       optimizeLegibility;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$weight-light:    300;
$weight-normal:   400;
$weight-medium:   500;
$weight-semibold: 600;
$weight-bold:     700;

// Spacing

$column-gap:    0.75rem;
$block-spacing: 1.5rem;

*,
*::after,
*::before {
  // Remove borders except bottom.
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

// Compensate and reset padding (also for input controls with respect to removal of borders).
$control-padding-vertical: .2em;
$control-padding-horizontal: .5em;
$control-height: unset;
$table-cell-padding: $control-padding-vertical $control-padding-horizontal;
$tabs-link-padding: $table-cell-padding;

// Miscellaneous

$easing:       ease-out;
$speed:            86ms;
$radius-small:      2px;
$radius:            4px;
$radius-large:      6px;
$radius-rounded: 9999px;