<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="script-src 'self'">

  <title>Hello World!</title>

  <link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="all">

  <script src="../../ext_modules/jquery/jquery-3.6.0.slim.min.js"></script>
  <script src="../user/index.js" type="module"></script>
  <script src="./index.js" type="module" defer></script>
</head>

<body>
  [%- include('./src/renderer/templates/header.ejs') %]
  [%- include('./src/renderer/templates/navigation.ejs') %]

  <div id="page" class="site container">
    <div id="sidebar" class="sidebar">
      [%- include('./src/renderer/templates/sidebar.ejs') %]
    </div>
    <main id="primary" class="site-content">
      [%- include('./src/renderer/templates/main.ejs') %]
    </main>
  </div>

  [%- include('./src/renderer/templates/footer.ejs') %]
</body>

</html>