<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="script-src 'self'">

  <title>Hello World!</title>

  <link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="all">

  <script src="../../ext_modules/jquery/jquery-3.6.0.slim.min.js"></script>
  <script src="./index.js" type="module" defer></script>
</head>

<body>
  <div class="columns">

    <div id="sidebar" class="column">
      <div class="columns entry-wrapper">

        <div id="sidebar-categories" class="column">
          <div class="tabs">
            <ul>
              <li class="is-active"><a title="Projects">&#9851;</a></li>
              <li><a title="Orders">&#9823;</a></li>
              <li><a title="Articles">&#9935;</a></li>
            </ul>
          </div>
        </div>

        <div id="table-projects" class="column entry-content">
          [%- include('./src/renderer/templates/project-browser.ejs') %]
        </div>

      </div>
    </div>

    <main id="main" class="column">
      <div class="columns entry-wrapper">

        <div id="main-tabs" class="column">
          <div class="tabs">
            <ul>
              <li class="is-active"><a title="Projects">&#9851;</a></li>
              <li><a title="Orders">&#9823;</a></li>
              <li><a title="Articles">&#9935;</a></li>
            </ul>
          </div>
        </div>

        <div id="main-content" class="column entry-content">
          <div></div>
        </div>

      </div>
    </main>

  </div>
</body>

</html>