<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="script-src 'self'">

  <title>Hello World!</title>

  <link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="all">

  <script src="../../ext_modules/jquery/jquery-3.6.0.slim.min.js"></script>
  <script src="./index.js" type="module" defer></script>
</head>

<body>
  <div id="page" class="columns">
    <div id="sidebar">
      <div id="sidebar-categories" class="tabs">
        <ul>
          <li class="is-active"><a>Projects</a></li>
          <li><a>Orders</a></li>
          <li><a>Articles</a></li>
        </ul>
      </div>
      <div id="sidebar-content">

      </div>
    </div>
    <main id="primary" class="column">

    </main>
  </div>
</body>

</html>