<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="script-src 'self'">

  <title>Hello World!</title>

  <link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="all">

  <script src="../../ext_modules/jquery/jquery-3.6.0.slim.min.js"></script>
  <script src="./index.js" type="module" defer></script>
</head>

<body>
  <div class="columns wrapper">

    <div class="column wrapper-content">
      <div class="columns full-height">

        <div id="sidebar" class="column sidebar">
          [%- include('./src/renderer/templates/project-browser.ejs') %]
        </div>

        <main id="main" class="column main">
          [%- include('./src/renderer/templates/project-window.ejs') %]
        </main>

      </div>
    </div>

    <div id="status-bar" class="column status-bar"></div>

  </div>
</body>

</html>