<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="script-src 'self'">

  <title>Hello World!</title>

  <link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="all">

  <script src="../../ext_modules/jquery/jquery-3.6.0.slim.min.js"></script>
  <script src="./index.js" type="module" defer></script>
</head>

<body>
  <div class="columns">

    <div id="sidebar" class="column">
      <div class="columns entry-wrapper">

        <div id="sidebar-categories" class="column">
          <div class="tabs">
            <ul>
              <li class="is-active"><a title="Projects">&#9851;</a></li>
              <li><a title="Orders">&#9823;</a></li>
              <li><a title="Articles">&#9935;</a></li>
            </ul>
          </div>
        </div>

        <div id="table-projects" class="column entry-content">
          <table class="table is-hoverable is-narrow is-fullwidth no-wrap has-sticky-header has-sticky-footer has-sticky-column">
            <thead>
              <tr>
                <th class="min-width is-secondary"><a class="ignore-click"><abbr title="Installation Number">Install</abbr></a></th>
                <th class="min-width is-sticky-column"><a class="ignore-click"><abbr title="Project Number">Project</abbr></a></th>
                <th>Description</th>
                <th>Customer</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th class="min-width is-secondary"><a class="ignore-click"><abbr title="Installation Number">Install</abbr></a></th>
                <th class="min-width is-sticky-column"><a class="ignore-click"><abbr title="Project Number">Project</abbr></a></th>
                <th>Description</th>
                <th>Customer</th>
              </tr>
            </tfoot>
            <tbody>
              [% for (let i = 1; i < 999; i++) { %] <tr class="min-width [% if (i === 4) { %]is-selected[% } %]">
                <td class="min-width is-secondary"><a class="opens-main-tab" href="#" title="Description  •  Customer">[%= i.toString().padStart(7, 'A210000'); %]</a></td>
                <th><a class="opens-main-tab" href="#" title="Description  •  Customer">[%= i.toString().padStart(7, 'MB21000'); %]</a></th>
                <td>Description of this project</td>
                <td>Customer this project is for</td>
                </tr>
                [% } %]
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <main id="main" class="column">
      <div class="columns entry-wrapper">

        <div id="main-tabs" class="column">
          <div class="tabs">
            <ul>
              <li class="is-active"><a title="Projects">&#9851;</a></li>
              <li><a title="Orders">&#9823;</a></li>
              <li><a title="Articles">&#9935;</a></li>
            </ul>
          </div>
        </div>

        <div id="main-content" class="column entry-content">
          <div></div>
        </div>

      </div>
    </main>

  </div>
</body>

</html>